{% extends '@DatingLibreApp/user/user.html.twig' %}
{% block title %}Profile{% endblock %}
{% block menu %}
    {% from '@DatingLibreApp/macros/profile.image.html.twig' import profile_image %}
    {{ profile_image(profile.imageUrl) }}
    {% from '@DatingLibreApp/user/message/menu.html.twig' import message_menu %}
    {{ message_menu(profile.id, profile.isBlockedUser) }}
{% endblock %}
{% block content %}
    <h2>
        {{ profile.username }}
        {% from "@DatingLibreApp/macros/profile.header.html.twig" import profile_header %}
        {{ profile_header(profile.age, profile.cityName, profile.regionName, profile.attributes) }}
    </h2>
    <div class="card border-light">
        <div class="card-body">
            {% if interests is not empty %}
                <h4>{{ 'profile.interests'|trans }}</h4>
                <ul>
                    {% for interest in interests %}
                        <li>{{ interest.name|trans({}, 'interests') }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ profile.about|nl2br }}
        </div>
    </div>
{% endblock %}